* {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}
:root {
  /* --color-border: #F0B429; #FE9E5B */
  --color-dashboard-background: #1992D4;
  --color-gray: #E2E8F0;
  --color-white: #ffffff;
  --color-border: #FE9E5B;
}
body {
  display: grid;
  grid-template-columns: 1fr 4fr;
}
nav {
  position: relative;
  color: var(--color-white);
  background-color: var(--color-dashboard-background);
}
.logo {
  display: flex;
  align-items: center;
  padding-left: 2em;
  padding-top: 0.5em;
  padding-bottom: 2.5em;
  gap: 10px;
}
.support {
  padding-top: 2.5em;
}
nav > p {
  position: fixed;
  bottom: 20px;
  overflow-wrap: break-word;
  width: clamp(20ch, 20%, 55ch);
}
main {
  display: grid;
  grid-template-rows: 170px 4fr;
}
.dashboard-list {
  display: flex;
  align-items: center;
  padding-left: 3em;
  padding-bottom: 1em;
  font-weight: bold;
  letter-spacing: 1px;
}
.dashboard-list img {
  padding-right: 1.5em;
}
.header {
  display: grid;
  grid-template-rows: 1fr 1.5fr;
}
input {
  background-color: var(--color-gray);
  border: none;
  width: 40vw;
  height: 2.5em;
  border-radius: 2em;
  padding-left: 20px;
  text-align: left;
}
button {
  background-color: var(--color-dashboard-background);
  color: var(--color-white);
  border: none;
  width: 100px;
  padding: 10px 20px;
  margin-left: 20px;
  border-radius: 40px;
  font-weight: bold;
  letter-spacing: 1.1px;
}
.main-board {
  background-color: var(--color-gray);
}
.search-panel {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#search-input {
  display: flex;
  align-items: center;
}
#search-input img {
  padding-right: 15px;
}
#search-profile-info {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 20vw;
}
#search-profile-info p {
  font-size: 1.2em;
}
.header p {
  font-weight: bold;
}
.action-panel {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.profile-greeting {
  display: flex;
  align-items: center;
  font-size: 1.7em;
}
.greeting {
  margin-left: 15px;
}
#small {
  font-size: 0.5em;
  text-align: left;
}
.main-board {
  display: grid;
  grid-template-columns: 2.7fr 1fr;
}
.card-group {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
}
.projects > p,
.right > p,
#p-trend {
  font-weight: bold;
  font-size: 1.2em;
  padding-top: 20px;
  padding-left: 20px;
  text-align: left;
}
.right > p,
#p-trend {
  padding-bottom: 15px;
}
.card {
  position: relative;
  background-color: var(--color-white);
  height: max(20vw, 250px);
  padding: 20px;
  margin: 1em;
  border-left: var(--color-border) 12px solid;
  border-radius: 10px;
}
.title {
  font-weight: bold;
  font-size: 1.1em;
  padding-bottom: 10px;
}
.card p {
  text-align: left;
}
.card-image {
  position: absolute;
  bottom: 10px;
  right: 20px;
}
img[width="25px"],
img[width="25px"] + p,
button {
  cursor: pointer;
}
.announcement,
.trending {
  background-color: var(--color-white);
  padding: 20px;
  border-radius: 10px;
  margin-right: 20px;
  margin-left: 20px;
}
.underline {
  width: 250px;
  border-top: 3px solid var(--color-gray);
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 4vw;
} 
.profile-trend {
  display: grid;
  grid-template-columns: 1fr 4fr;
  align-items: center;
  padding-bottom: 15px;
}
.profile-trend p {
  text-align: left;
  padding-left: 2wv;
}
.profile-trend div:first-line {
  font-weight: bold;
}