* {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}
:root {
  /* --color-border: #F0B429; #FE9E5B */
  --color-dashboard-background: #1992D4;
  --color-gray: #E2E8F0;
  --color-white: #ffffff;
}
body {
  display: grid;
  grid-template-columns: 1fr 3fr;
}
nav {
  position: relative;
  color: var(--color-white);
  background-color: var(--color-dashboard-background);
}
main {
  display: grid;
  grid-template-rows: 1fr 4fr;
}
.dashboard-list {
  display: flex;
  align-items: center;
  padding-left: 2em;
  padding-bottom: 1em;
}
.dashboard-list img {
  padding-right: 1.5em;
}
nav > p {
  position: fixed;
  left: 2%;
  bottom: 20px;
  overflow-wrap: break-word;
}
.header {
  display: grid;
  grid-template-rows: 1fr 2fr;
}
input {
  background-color: var(--color-gray);
  border: none;
  width: 60%;
  height: 2em;
  border-radius: 2em;
}
.main-board {
  background-color: var(--color-gray);
}