* {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}
:root {
  /* --color-border: #F0B429; #FE9E5B */
  --color-dashboard-background: #1992D4;
  --color-gray: #E2E8F0;
  --color-white: #ffffff;
  --color-border: #FE9E5B;
}
body {
  display: grid;
  grid-template-columns: 1fr 3fr;
}
nav {
  position: relative;
  color: var(--color-white);
  background-color: var(--color-dashboard-background);
}
.logo {
  display: flex;
  align-items: center;
  padding-left: 2em;
  padding-top: 0.5em;
  padding-bottom: 2.5em;
  gap: 10px;
}
.support {
  padding-top: 2.5em;
}
nav > p {
  position: fixed;
  left: 1.5%;
  bottom: 20px;
  overflow-wrap: break-word;
  width: clamp(20ch, 20%, 55ch);
}
main {
  display: grid;
  grid-template-rows: 200px 4fr;
}
.dashboard-list {
  display: flex;
  align-items: center;
  padding-left: 3em;
  padding-bottom: 1em;
  font-weight: bold;
  letter-spacing: 1px;
}
.dashboard-list img {
  padding-right: 1.5em;
}
.header {
  display: grid;
  grid-template-rows: 1fr 1fr;
}
input {
  background-color: var(--color-gray);
  border: none;
  width: 60%;
  height: 2em;
  border-radius: 2em;
}
button {
  background-color: var(--color-dashboard-background);
  color: var(--color-white);
  border: none;
  width: 100px;
  padding: 10px 20px;
  border-radius: 40px;
  font-weight: bold;
  letter-spacing: 1.1px;
}
.main-board {
  background-color: var(--color-gray);
}
.search-panel {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.header p {
  font-weight: bold;
}
.action-panel {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.profile-greeting {
  display: flex;
  align-items: center;
}
.greeting::first-line {
  font-size: 0.7em;
}
.main-board {
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.card-group {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
}
.projects:first-line,
.right:first-line,
#p-trend {
  font-weight: bold;
}
.card {
  background-color: var(--color-white);
  height: 25vw;
  padding: 20px;
  margin: 1em;
  border-left: var(--color-border) 12px solid;
  border-radius: 10px;
}
img[width="25px"],
img[width="25px"] + p,
button {
  cursor: pointer;
}